@using DevExtremeAspNetCore.Models
@model IEnumerable<DonHangViewModel>

@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:20px">
    <h2>Danh sách đơn hàng</h2>

    @(Html.DevExtreme().DataGrid<DonHangViewModel>()
        .ID("donhangGrid")
        .DataSource(Model)      
        .KeyExpr("IDDH")  
        .ShowBorders(true) 
        .Paging(p => p.PageSize(10))   
        .FilterRow(f => f.Visible(true))
        .Columns(columns => {
            columns.AddFor(m => m.IDDH)
                   .Caption("Mã đơn hàng");
            columns.AddFor(m => m.TenKhachHang)
                    .Caption("Tên đơn hàng");
            columns.AddFor(m => m.TenKhachHang)
                   .Caption("Khách hàng");
            columns.AddFor(m => m.NgayDat)
                   .Caption("Ngày đặt")
                   .DataType(GridColumnDataType.Date)
                   .Format("dd/MM/yyyy");
            columns.AddFor(m => m.TenSanPham)
                   .Caption("Sản phẩm");
            columns.AddFor(m => m.TongSoLuong)
                   .Caption("Tổng SL");
        })
    )
</div>
