.donhang-container {
    font-family: "Roboto", sans-serif;
    background: #ffffff;
    box-shadow: none;
}

h2 {
    margin-top:20px;
    text-align: center;
}

.donhang-table {
    width: 100%;
    border-collapse: collapse;
}

    .donhang-table th {
        background-color: #3A6EA5;
        color: #ffffff;
        padding: 6px 8px;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        border: 1px solid #000;
    }

    .donhang-table td {
        padding: 4px 6px;
        font-size: 12px;
        line-height: 1;
        border: 1px solid #000;
        text-align: center;
        background-color: #ffffff;
    }
.product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.no-img {
    font-size: 12px;
    color: #aaa;
    font-style: italic;
}
.btn {
    padding: 6px 12px;
    margin: 0 4px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-add {
    background: #0ABAB5;
    color: #fff;
    font-weight: bold;
}

    .btn-add:hover {
        background: #56DFCF;
        transform: translateY(-2px);
    }
.btn-info {
    background: #ADEED9;
    color: #004d40;
}

    .btn-info:hover {
        background: #56DFCF;
        color: #fff;
        transform: translateY(-2px);
    }
.btn-secondary {
    background: #FFEDF3;
    color: #8a1253;
}

.btn-secondary:hover {
    background: #f8c9da;
    transform: translateY(-2px);
}
.btn-edit:hover {
    background: #0ABAB5;
}
.btn-delete:hover {
    background: #f8c9da;
}
.btn-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.popup-img {
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.popup-file a {
    color: #004d40;
    text-decoration: none;
}

    .popup-file a:hover {
        text-decoration: underline;
    }
.pagination-wrapper {
    margin-top: 20px;
    text-align: center;
}

.pagination-controls {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

    .pagination-controls label,
    .pagination-controls select,
    .pagination-controls input,
    .pagination-controls button {
        font-size: 13px;
    }

    .pagination-controls input {
        width: 60px;
        padding: 4px;
    }

.pagination-container button {
    background-color: #3A6EA5;
    color: white;
    border: none;
    margin: 0 3px;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.3s;
}

    .pagination-container button.active {
        background-color: #0ABAB5;
        font-weight: bold;
    }

    .pagination-container button:hover {
        background-color: #56DFCF;
    }


